.master-header {
  display: block;
  flex-grow: 1;
  width: 100%;
  height: 100px;
}

.master-container {
  display: flex;
  justify-content: flex-start;
}

.master-service {
  width: auto;
  background-color: rgba(154, 205, 50, .2);
}

.master-main {
  flex: 2;
  min-width: 700px;
  min-height: 400px;
  background-color: rgba(238, 130, 238, .2);
}

.master-aside {
  min-width: 300px;
  background-color: rgb(245, 222, 179);
}
